a {
  text-decoration: none;
  color: var(--links);
}

a:hover {
  text-decoration: underline;
}

// Reset the styling for placeholder links, meaning those without a href attribute
a:not([href]):not([class]) {
  &,
  &:hover {
    color: inherit;
    text-decoration: none;
  }
}
